<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>内网登录</title>
</head>

<script type="text/javascript">
    function onLogin()
    {
        var gameurl = '';
        var accountname=document.getElementById('accname').value;
        var servername = '';
        var serverid=document.getElementById('serverid').value;
        var serverip = document.getElementById('sip').value;
        var portN = document.getElementById('port').value;
        var openkey = document.getElementById('openkey').value;
        var userip = document.getElementById('userip').value;
        var pf = document.getElementById('pf').value;  
        var pfkey = document.getElementById('pfkey').value;  
        gameurl="game.html?" + 'ip=' + serverip+'&port='+portN +'&serverid='+ serverid + '&accname=' + accountname + '&key=111111'+'&openkey='+openkey+'&userip='+userip+'&pf='+pf+'&pfkey='+pfkey;
        if(serverip == "" || serverip==0)
        {
            window.alert('服务器Ip不能为空');
            return;
        }
        if(accountname=='')
        {
            window.alert('玩家ID不能为空');
            return;
        }else if(serverid==''  )
        {
            window.alert('服务器id不能为空');
            return;
        }
        else if(gameurl == ""  )
        {
            window.alert('连接出错');
            return;
        }else
        {
            window.open(gameurl);
        }
    };
    function ChangeServer(sid, sip, sport)
    {
        document.getElementById("serverid").value = sid;
        document.getElementById("sip").value = sip;
        document.getElementById("port").value = sport;
    };
    function OnLoad()
    {
        var info = js_server_info;
        var p = -1;
        l = new Array();
        for(var i = 0; i < info.length; i++)
        {
            p = (p + 1) % 5;
            if (p == 0) {l.push("<p>");};
            l.push("<label><input type='radio' name='server' onClick=" + '"' + "ChangeServer(" + info[i][0] + ",'" + info[i][1] + "'," + info[i][2] + ')"' + "/>" + info[i][3] + "</label>");
            if (p == 4) {l.push("</p>");};
        }
        if (p != 4) {l.push("</p>");};
        document.getElementById("serverinfo").innerHTML = l.join("");
    };
</script>
<script type="text/javascript" src="http://192.168.8.110:8000/Tool/SyncServerInfo/Reg_Interface/"></script>
<body onload="OnLoad()">
    <p>帐号:<input type="text" id="accname" name="accname" value='' /></p>
    
    <div id="serverinfo">
    </div>
    
    <p>服务器IP：<input type="text" name="sip" id="sip" width="250" value='127.0.0.1' /></p>
    <p>服务器端口：<input type="text" name="port" id="port" width="250" value="9001" /></p>
    <p>服务器ID：<input type="text" name="serverid" id="serverid" value="1" /></p>
    <p>用户IP：<input type="text" name="userip" id="userip" value="127.0.0.1" /></p>
    <p>平台号：<input type="text" name="pf" id="pf" value="pengyou" /></p>
    <p>OpenKey：<input type="text" name="openkey" id="openkey" value="5896D3DA2F9CF614A7059691A7BBEDDD" /></p>
    <p>PFKey：<input type="text" name="pfkey" id="pfkey" value="528d4ce0c983e194620b8742926d0dbf" /></p>
    
    <input type="submit" value="登录" name="submit" onClick="onLogin()">
</body>
</html>

