{%include "header.htm"%}
{%ifequal action "check"%}
<form name="myform" method="Post" action="">
<table class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr>
    <td id="columns">
	    <select name="server">
			<option value="">&nbsp;选择游戏服&nbsp;</option>
			<option value="0">&nbsp;全区汇总&nbsp;</option>
			<option value="5201314">&nbsp;遍历全区&nbsp;</option>
			{%for key,val in servers.items%}
			<option value="{{key}}">&nbsp;{{val.name}}&nbsp;&nbsp;</option>
			{%endfor%}
		</select>
	    <select name="column" class='column'>
			<option value="">&nbsp;数据列&nbsp;</option>
			{%for key,val in targets.items%}
			<option value="{{key}}">&nbsp;{{val.name}}&nbsp;&nbsp;</option>
			{%endfor%}
		</select>
	</td>
</tr>
<tr>
	<td><a onClick="addColumn()" style="cursor:pointer;color:green;">增加一列</a>&nbsp;
	    <a onClick="removeColumn()" style="cursor:pointer;color:green;">减少一列</a>&nbsp;
	    开始时间&nbsp;&nbsp;<span><input name="start_date" size="16" id="start_time" format="yyyy-MM-dd" class="date" value="{{get.start_date}}"/></span>
        结束时间&nbsp;<span><input name="end_date" size="16" id="end_time" format="yyyy-MM-dd" class="date" value="{{get.end_date}}"/></span>
	    <input type="submit" name="Submit" value="查看数据" />
		&nbsp;<input type="checkbox" name="nogroup"/>&nbsp;禁用分组
		&nbsp;<input type="checkbox" name="no_row_group"/>&nbsp;全区汇总
		&nbsp;<input type="checkbox" name="check"/>&nbsp;检验数据(单服有效)
		&nbsp;<input type="checkbox" name="update"/>&nbsp;更新缓存
		&nbsp;&nbsp;<span style="cursor:pointer;color:green" onclick="$(&quot;#servers&quot;).toggle()">自定义全区范围</span>
		<div id="servers" style="display:none">
		<input class="checkAll" type="checkbox" name="" value="" forname="servers">&nbsp;全选&nbsp;&nbsp;
		{%for key,val in servers.items%}
		<input name="servers" type="checkbox" value="{{key}}" />&nbsp;{{val.name}}&nbsp;&nbsp;
		{%endfor%}
		</div>
	</td>
</tr>
</table>
<div style="overflow-x:auto">
<!-- <table width="auto"  border="0" cellpadding="3" cellspacing="1" class="p_table" style="table-layout:fixed;word-wrap:break-word;text-align:center"> -->
{%if data%}
<div>
{%for target,v in data.items%}
<a href="javascript:void(0)" class="tab" onclick="UI.tab('target','{{target}}')" id="target_anchor_{{target}}">{{target}}</a>
{%endfor%}
<hr style="clear:both;border:none;border-top:1px solid #ddd">
{%for target,v in data.items%}
<div id="target_details_{{target}}" style="display:none">
<table class='p_table_order p_table'>
	{%for spliter,vv in v.items%}
	<tr>
		<td class="spliter">
			{%ifequal forloop.counter 1%}
			<span style="font-weight:bold;cursor:pointer;" onclick="$('.spliter').toggle()">日期/服务器</span>
			{%else%}
			{{spliter}}
			{%endifequal%}
		</td>
		{%for server,vvv in vv.items%}
		<td>{{vvv}}</td>
		{%endfor%}
	</tr>
	{%endfor%}
</table>
<br>&nbsp;&nbsp;&nbsp;&nbsp;<span style="cursor:pointer;color:green" onclick="$('.spliter').toggle()">显示/隐藏日期</span>
</div>
{%endfor%}
{%endif%}
</div>
<!-- </table> -->
</div>
</form>
<style>
a.tab{padding:5px 10px;display:block;float:left;margin:3px 3px 0 3px;}
a.tab.active{border:1px solid #ddd;border-bottom:1px solid #fff;position:relative;margin-bottom:-1px;font-weight:bold}
</style>
<script>
var got_targets={{got_targets|safe}};
var targets_info={{targets_info|safe}};
$(function(){
	$('a[id^=target_anchor]:eq(0)').click();
	$.each(targets_info,function(k,v){
		$('#target_anchor_'+k).html(v['name']);
	});
});
$('select[name=server]').val("{{get.server}}");
$('input[name=check]').change(function(){
    if($('select[name=server]').val()=='all'){
	    $(".tips:first").append("单服时才有效！");
	    $(this).removeAttr("checked");
	}
});
$('input[name=no_row_group]').change(function(){
    if($('select[name=server]').val()!='all'){
	    $(".tips:first").append("单区无需汇总！");
	    $(this).removeAttr("checked");
	}
});
if(""!="{{get.update}}"){$('input[name=update]').attr({"checked":"true"});}
if(""!="{{get.check}}"){$('input[name=check]').attr({"checked":"true"});}
if(""!="{{get.nogroup}}"){$('input[name=nogroup]').attr({"checked":"true"});}
if(""!="{{get.no_row_group}}"){$('input[name=no_row_group]').attr({"checked":"true"});}
function addColumn(){
    $('.column:last').clone().appendTo('#columns');
}
function removeColumn(){
    if($('.column').size()==1){return false;}
    $('.column:last').remove();
}
//got targets
$(function(){
	$.each(got_targets,function(k,v){
		if(k!=0){addColumn();}
		$('.column:eq('+k+')').val(v);
	});
});
</script>
{%endifequal%}

{%ifequal action "manageAllData"%}
<form name="myform" method="Post" action="">
<table class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr>
    <td style="width:80px">操作</td>
	<td><input type="radio" name="step" value="get" checked/>获取数据</td>
</tr>
<tr>
    <td>游戏服</td>
	<td>
	<input type="checkbox" class="checkAll" forname="servers"/>&nbsp;全部&nbsp;&nbsp;
	{%for key,val in servers.items%}
		<input type="checkbox" name="servers" value="{{key}}">&nbsp;{{val.name}}&nbsp;&nbsp;
	{%endfor%}
	</td>
</tr>
<tr>
    <td>日期范围</td>
	<td>
	开始时间&nbsp;&nbsp;<span><input name="time_start" size="16" id="start_time" class="date" value="{{get.time_start}}"/></span>
    结束时间&nbsp;<span><input name="time_end" size="16" id="end_time" class="date" value="{{get.time_end}}"/></span>&nbsp;
	*&nbsp;最近<input name="auto" value="0" size="4"/>分钟
	</td>
</tr>
<tr>
    <td>限定模块</td>
	<td>
	<input name="models" value=""/>
	</td>
</tr>
<tr>
    <td style="width:80px">目标数据库</td>
	<td>
		<input name="memory" value="" style="width:60%"/> * HOST,PORT,DATABASE,USER,PASSWORD
	</td>
</tr>
<tr>
    <td style="width:80px">提交</td>
	<td><input type="submit" value="确认提交"/> <input type="checkbox" name="check" value="true"/>&nbsp;插入前检查</td>
</tr>
</table>
</form>
{%endifequal%}

{%include "footer.htm"%}