{%include "header.htm"%}
{%include "common.htm"%}
{%ifequal action "manage"%}
所有字典管理：
{%for k,v in types.items%}
	{%for vv in languages%}
	<a href="{{path}}?type={{k}}&language={{vv}}">管理{{vv}}{{v}}</a>
	{%endfor%}
{%endfor%}
<form  action="" method="post">
<table class="p_table_order p_table" style="text-align:left" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr style="font-weight:bold;text-align:center"><td width="45%">原文</td><td>译文</td></tr>
{%for v in words%}
<tr id="word_{{forloop.counter}}"><td>{{v.source_text|safe}}</td><td id="input_{{forloop.counter}}" old="{{v.source_text|safe}}" class="input">{{v.target_text|safe}}</td></tr>
{%endfor%}
</table><br>
{{range|safe}}
</form>
{%endifequal%}
{%include "footer.htm"%}
<script>
$(function(){
	$('.input').each(function(){
		$(this).click(function(){
			if($(this).find('input').size()==0){
				$(this).html('<input style="width:100%" v="'+$(this).html()+'" value="'+$(this).html()+'"/>');
				$(this).find("input").focus().blur(function(){
					if($(this).val()!=$(this).attr('v')){//update
						$.post("{{path}}"+"?update=true&type={{get.type}}&language={{get.language}}",{"key":$(this).parent('td').attr('id'),"old":$(this).parent('td').attr('old'),"new":$(this).val()},function(data){
							if(data.result=="true"){
								$('#'+data.key).prev('td').find('.tips').remove();
								$('#'+data.key).html($('#'+data.key).find('input').val()).attr({"old":$('#'+data.key).find('input').val()});
							}else{
								if(data.tips){
									var parent=$('#'+data.key).prev('td');
									if(parent.find('.tips').size()==0){
										parent.append('<span class="tips" style="float:right;color:red"></span>');
									}
									parent.find('.tips').html(data.tips);
								}
							}
						},'json');
					}else{
						$(this).parent('td').prev('td').find('.tips').remove();
						$(this).parent('td').html($(this).val());
					}
				});
			}
		});
	});
});
</script>