<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dragon Rider Manage System</title>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<script src="/site_medias/js/jquery.js"></script>
<script src="/site_medias/js/UI.js"></script>
<script>
var scene=parent.scene;
if(scene==''){scene='day';}
document.write('<link type="text/css" rel="stylesheet" href="/site_medias/css/'+scene+'.css">');
</script>
</head>
<body>
<div class="tips" style="">&nbsp;
龙骑游戏管理系统帮助文档！
</div>
&nbsp;&nbsp;文档导航:
<ul>
<li>帐号相关</li>
<li>维护成员</li>
<li>场景选择</li>
</ul>
<br />
<br />
&nbsp;&nbsp;* 帐号相关：<a name="user" id='user'></a>
<ul>
<li>系统不开放自主注册权限，你需要向游戏系统管理员申请创建你的帐户;</li>
<li>在你登录系统之前，你只能查看基本的系统信息及登录链接;</li>
<li>登录后你可以在功能列表里找到你有权访问的所有功能,并在右方显示你登录的用户名称;</li>
<li>在不使用系统时，请注销你的登录状态，以防被他人盗用。</li>
</ul>
<br />
&nbsp;&nbsp;* 维护成员：<a name="maintain" id='maintain'></a>
<ul>
<li>在你使用系统过程中有任何疑问可联系维护成员;</li>
<li>技术支持QQ:770383088,lostnote;</li>
<li>支持邮件:770383088@qq.com;</li>
<li>应急手机:15218802462;</li>
<li>支持时间：QQ请在线时联系，邮件24小时均可。</li>
</ul>
<br />
&nbsp;&nbsp;* 场景选择：<a name="maintain" id='maintain'></a>
<ul>
<li>为适应不同工作环境需要，龙骑游戏管理系统提供了不同的场景;</li>
<li>日间场景适用于光线充足的环境;</li>
<li>夜间场景适用于晚上加班工作及光线不足环境;</li>
<li>具体场景可按个人需要进行选择。</li>
</ul>
<br />
<br />
<br />
&nbsp;&nbsp;&copy;&nbsp;2012-2013 teamtopgame.com
</body>
</html>