{% include "header.htm"%}
<div >
	<!-- <img src="http://www.lostnote.com/body/image/lostnote.png" style="float:left"/> -->
</div>
<div class="left" id="model_manage">
	<div id='guide' class='title' style="">&nbsp;卐龙骑游戏管理系统</div>
		<a class='link' style="" href="#" onclick="goHome()">[系统首页]</a>
		<a class='link' style="" href="/site_medias/help.htm" target="host_content">[使用帮助?]</a><br />
		<a id="mode" class='link' href="/?scene=day" style="">[日间场景☼]</a>
		<a id="mode" class='link' href="/?scene=night" style="">[夜间场景☪]</a><br />
		<br />
		
	<div class="title" style="">&nbsp;§功能列表{%if user%}<span style="color:green;font-weight:normal">&nbsp;ㄨ{{user.name}}</span>{%else%}<span style="color:green;font-weight:normal">&nbsp;ㄨPlease Login</span>{%endif%}
	</div>
	{%for v in indexs%}
		<a style="" href="{{v.0}}" target="host_content">{{v.1}}</a>
	{%endfor%}
</div>
<div class="right">
    <iframe frameborder="no" style="overflow-y:scroll;" id="right_content" src="/site_medias/welcome.htm" name="host_content">
	</iframe>
</div>
{% include "footer.htm"%}
<script>
function resize(){
	jQuery('.left').height($(document).height());
    jQuery('#right_content').width((document.body.clientWidth*0.98)-$('#model_manage').width()).height($(document).height());
}
$(window).resize(function(){
    resize();
});
resize();
function goHome(){
	var home='/';
	if(scene!='day'){home+="?scene="+scene;}
    window.location.href=home;
}
</script>
<!-- <script src="/site_medias/js/snowstorm.js"></script> -->
<style>
body{overflow:hidden;}
</style>