{%include "header.htm"%}
{%ifequal action "check"%}
<form  action="" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr><td>
	<select id="type" name="type" val="{{get.type}}">
		<option value="name">角色名称</option>
		<option value="roleid">角色ID</option>
		<option value="account">角色帐号</option>
	</select>
	<input name="id" value="{{get.id}}"/>
	<select id="server" name="server" val="{{get.server}}">
		<option value="">选择游戏服</option>
		{%for key,val in servers.items%}
		<option value="{{key}}">&nbsp;{{val.name|safe}}&nbsp;&nbsp;</option>
		{%endfor%}
	</select>
	<script>
	$(function(){
		if($('#type').attr('val')!="name"){$('#type').val($('#type').attr('val'));}
		toggleServer();
		$('#type').change(function(){
			toggleServer();
		});
	});
	function toggleServer(){
		if($('#type').val()!="roleid"){
			$('#server').show();
		}else{
			$('#server').hide();
		}
	}
	</script>
	<input type="submit" class="btn" value="查询">    * 非角色ID需要选择游戏服
</td></tr>
</table>
</form>
{%if data%}
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%" id="myTable">
	<tr>
		<td>角色ID</td><td>{{data.role_id}}</td><td>角色帐号</td><td>{{data.account}}</td>
	</tr>
	<tr><td>角色名称</td><td>{{data.role_name}}</td><td>最后保存时间</td><td>{{data.last_save}}</td></tr>
	<tr><td>角色等级</td><td>{{data.level}}</td><td>消费Q点</td><td>{{data.spent_q}}</td></tr>
	<tr><td>封号</td><td>
		{%ifequal data.ban_login "1970-01-01"%}
		<span style="color:green">正常登录</span> <a href="/model/role/ban?ban_type=1&type=roleid&id={{data.role_id}}">封禁</a>
		{%else%}
		<span style="color:red">{{data.ban_login}}</span> <a href="/model/role/ban?ban_type=3&type=roleid&id={{data.role_id}}">解禁</a>
		{%endifequal%}
	</td><td>禁言</td><td>
		{%ifequal data.ban_speak "1970-01-01"%}
		<span style="color:green">正常发言</span> <a href="/model/role/ban?ban_type=0&type=roleid&id={{data.role_id}}">禁言</a>
		{%else%}
		<span style="color:red">{{data.ban_speak}}</span> <a href="/model/role/ban?ban_type=2&type=roleid&id={{data.role_id}}">准言</a>
		{%endifequal%}
	</td></tr>
	<tr><td>魔晶</td><td>{{data.bindrmb}}</td><td>神石</td><td>{{data.unbindrmb}}</td></tr>
	<tr><td>VIP(贵族)</td><td>{{data.vip}}</td><td></td><td></td></tr>
</table>
{%endif%}
{%endifequal%}
{%ifequal action "ban"%}
<form  action="" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr><td>
	<select id="type" name="type" val="{{get.type}}">
		<option value="name">角色名称</option>
		<option value="roleid">角色ID</option>
		<option value="account">角色帐号</option>
	</select>
	<input name="id" value="{{get.id}}"/>
	<select id="server" name="server" val="{{get.server}}">
		<option value="">选择游戏服</option>
		{%for key,val in servers.items%}
		<option value="{{key}}">&nbsp;{{val.name|safe}}&nbsp;&nbsp;</option>
		{%endfor%}
	</select>
	<script>
	$(function(){
		if($('#type').attr('val')!="name"){$('#type').val($('#type').attr('val'));}
		toggleServer();
		$('#type').change(function(){
			toggleServer();
		});
	});
	function toggleServer(){
		if($('#type').val()!="roleid"){
			$('#server').show();
		}else{
			$('#server').hide();
		}
	}
	</script>
	<select name="ban_type" id="ban_type" val="{{get.ban_type}}">
		<option value="0">禁言角色</option>
		<option value="1">冻结角色</option>
		<option value="2">解除禁言</option>
		<option value="3">解冻角色</option>
	</select>
	<span id="end_date">截止日期<span><input class="date" format="yyyy-MM-dd" name="end_date" value="{{get.end_date}}"/></span></span>
	<input type="submit" class="btn" value="执行">
</td></tr>
</table>
</form>
{%if data%}
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%" id="myTable">
	<tr>
		<td>角色ID</td><td>{{data.role_id}}</td>
	</tr>
</table>
{%endif%}
<script>
$(function(){
	if(''!='{{get.type}}'){
		$('#type').val({{get.type}});
	}
	$('#type').change(function(){
		if(parseInt($(this).val())>1){
			$('#end_date').hide();
		}else{
			$('#end_date').show();
		}
	});
});
</script>
{%endifequal%}

{%ifequal action "sendMail"%}
<form  action="" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr>
	<td style="width:120px;">目标服务器</td>
	<td>{{servers|safe}}
	<style>
		table{border:none}
		table td{border:none}
	</style>
	</td>
</tr>
<tr>
	<td style="width:120px;">发到角色</td>
	<td>
	角色ID&nbsp;<input name="roleid" value="{{get.roleid}}"/> * 要发到全部角色请输入"<span style="color:red">5201314</span>"
	</td>
</tr>
<tr>
	<td style="width:120px;">附送物品</td>
	<td>
	<select id='select_item' name="select_item">
		<option value="">&nbsp;选择物品&nbsp;</option>
		{%for k,v in items.items%}
		<option value="{{k}}">&nbsp;{{v}}</option>
		{%endfor%}
	  <!--{foreach from=$data item=val key=key}-->
	  <option value="<!--{$key}-->">&nbsp;<!--{$val}-->&nbsp;&nbsp;</option>
	  <!--{/foreach}-->
	</select>
	&nbsp;或&nbsp;<input id="search_item" value="输入物品名称或ID搜索"/>
	&nbsp;数量&nbsp;<input size="4" id="apply_num" value="1"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>&nbsp;
	<input type="button" id="add_item" value="增加到申请列表"/>
	<div id="pending_apply" style="line-height:1.5em;background-color:#fcfcfc;border:1px solid #ccc;margin-top:5px;padding:5px;">
		<hr style='border:none;border-top:1px dashed #ccc;margin:5px 2px;'>
		<span style="color:#999;">* &nbsp;所增加物品若已存在申请列表将只更改申请数量</span>
	</div>
	<script>
	var data={{items_json|safe}};
	$(function(){
		$("#search_item").autocomplete({
			source:data
		}).blur(function(){
			if($(this).val()==""){
				$(this).val("输入物品名称或ID搜索");
			}else{
				var item=$(this).val().split('/');
				$("#select_item").val(item);
			}
		}).focus(function(){
			if($(this).val()=="输入物品名称或ID搜索"){
				$(this).val("");
			}
		});
		$('#add_item').click(function(){
			if($("#select_item").val()==''||$("#apply_num").val()==''){
				alert("请先选择需要申请的物品及数量！");
			}else{
				if(UI.exist("#apply_"+$("#select_item").val())){
					$("#apply_"+$("#select_item").val()).remove();
				}
				$("#pending_apply").prepend("<div id='apply_"+$("#select_item").val()+"'><input name='items' value='"+$("#select_item").val()+"_"+$("#apply_num").val()+"_"+$("#select_item").find("option[value="+$("#select_item").val()+"]").html()+"' type='hidden'/>物品ID：<span class='title' style='display:inline-block;width:60px;'>"+$("#select_item").val()+"</span>&nbsp;物品名称：<span class='title' style='display:inline-block;width:160px;'>"+$("#select_item").find("option[value="+$("#select_item").val()+"]").html()+"</span>&nbsp;申请数量：<span class='title' style='display:inline-block;width:30px;'>"+$("#apply_num").val()+"</span>&nbsp;&nbsp;<a onclick='UI.remove(&quot;#apply_"+$("#select_item").val()+"&quot;)' class='tips' style='cursor:pointer;'>删除</a></div>");
			}
		});
	});
	</script>
	</td>
</tr>
<tr>
	<td style="width:120px;">附加数值</td>
	<td>
	金币&nbsp;<input name="money" value="{{get.money}}"/>&nbsp;
	经验&nbsp;<input name="exp" value="{{get.exp}}"/>&nbsp;
	体力&nbsp;<input name="strength" value="{{get.strength}}"/>&nbsp;
	神石&nbsp;<input name="unbindrmb" value="{{get.unbindrmb}}"/>&nbsp;
	魔晶&nbsp;<input name="bindrmb" value="{{get.bindrmb}}"/>&nbsp;
	</td>
</tr>
<tr>
	<td style="width:120px;">发件人</td>
	<td><input name="sender" style="width:100%" value="{{get.sender}}"/></td>
</tr>
<tr>
	<td style="width:120px;">邮件标题</td>
	<td><input name="title" style="width:100%" value="{{get.title}}"/></td>
</tr>
<tr>
	<td style="width:120px;">邮件正文</td>
	<td><textarea name="content" style="width:100%">{{get.content}}</textarea></td>
</tr>
<tr>
	<td style="width:120px;">确认发送</td>
	<td><input type="submit" class="btn" value="发送"></td>
</tr>
</table>
</form>
{{log|safe}}
<script>
$(function(){
	if(''!='{{get.type}}'){
		$('#type').val({{get.type}});
	}
	$('#type').change(function(){
		if(parseInt($(this).val())>1){
			$('#end_date').hide();
		}else{
			$('#end_date').show();
		}
	});
});
</script>
{%endifequal%}
{%include "footer.htm"%}