{%include "header.htm"%}
{%ifequal action "login"%}
<form  action="{{path}}" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr><td>用户名</td><td><input type="text" name="name" /></td></tr>
<tr><td>密码</td><td><input type="password" name="password" /></td></tr>
<tr><td></td><td><input type="submit" class="btn" value="登录"></td></tr>
</table>
</form>
{%endifequal%}
{%ifequal action "checkOnlineDuration"%}
<div id="chartdiv"></div>
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%">
	<thead>
	<tr>
		<th>总在线时长/分钟</th><th>角色数</th>
	</tr>
	</thead>
	<tbody>
	{%for val in total_online%}
	<tr>
		<td>{{val.range}}</td><td>{{val.count}}</td>
	</tr>
	{%endfor%}
	</tbody>
</table>
{%if chart%}
<script language="JavaScript" src="/site_medias/js/Charts.js"></script>
<script type="text/javascript">
   var chart = new FusionCharts("/site_medias/charts/Pie2D.swf", "ChartId", "100%", "350", "0", "0");
   chart.setJSONData({{chart|safe}});
   chart.render("chartdiv");
</script>
{%endif%}
{%endifequal%}

{%ifequal action "checkLevelRange"%}
<div id="chartdiv"></div>
<br>
玩家总数: <span style="color:green">{{total}}</span>
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%">
	<thead>
	<tr>
		<th>等级</th><th>当前角色</th><th>当前角色占比</th><th>基数</th><th>到达人数</th><th>到达率</th><th>等级流失人数</th><th>流失率</th>
	</tr>
	</thead>
	<tbody>
	{%for key,val in level_data.items%}
	<tr>
		<td>{{key}}</td><td>{{val.count}}</td><td>{{val.rate|floatformat:2}} %</td><td>{{val.base}}</td><td>{{val.reach}}</td><td>{{val.reach_rate|floatformat:2}} %</td><td>{{val.count}}</td><td>{{val.loss_rate|floatformat:2}} %</td>
	</tr>
	{%endfor%}
	</tbody>
</table>
<br>
* <span style="color:RoyalBlue">功能说明：</span>比如达到1级的有<span style="color:green">100</span>人，100人中有80人到了2级，那么2级的流失率等于<span style="color:green">100-80/100=20%</span>的流失率<br>
* <span style="color:RoyalBlue">基数：</span>到达此等级的总人数 （到达人数+流失人数）<br>
* <span style="color:RoyalBlue">到达人数：</span>到达此等级并到达下一等级人数<br>
* <span style="color:RoyalBlue">流失人数：</span>在此等级流失了的人数，即到达了此等级但没有到达下一等级<br>
<br>
{%if chart%}
<script language="JavaScript" src="/site_medias/js/Charts.js"></script>
<script type="text/javascript">
   var chart = new FusionCharts("/site_medias/charts/Pie2D.swf", "ChartId", "100%", "350", "0", "0");
   chart.setJSONData({{chart|safe}});
   chart.render("chartdiv");
</script>
{%endif%}
{%endifequal%}


{%ifequal action "checkOnline"%}
<form  action="" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr><td>
	日期&nbsp;<span><input class="date" format="yyyy-MM-dd" label="日期" id='date' name="date" value="{{get.date}}"/></span>
	<input type="submit" class="btn" value="查询">
</td></tr>
</table>
</form>
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%">
	<tr>
		<td>最低在线人数：</td><td>{{status.min_roles}}</td><td>平均在线人数：</td><td>{{status.avg_roles}}</td><td>最高在线人数：</td><td>{{status.max_roles}}</td>
	</tr>
	<tr>
		<td>最低IP数：</td><td>{{status.min_ips}}</td><td>平均IP数：</td><td>{{status.avg_ips}}</td><td>最高IP数：</td><td>{{status.max_ips}}</td>
	</tr>
</table>
<div id="chartdiv"></div>
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%">
	<thead>
	<tr>
		<th>统计时间</th><th>在线IP数</th><th>在线角色数</th>
	</tr>
	</thead>
	<tbody>
	{%for val in data%}
	<tr>
		<td>{{val.sta_time}}</td><td>{{val.ips}}</td><td>{{val.roles}}</td>
	</tr>
	{%endfor%}
	</tbody>
</table>
{%if chart%}
<script language="JavaScript" src="/site_medias/js/Charts.js"></script>
<script type="text/javascript">
   var chart = new FusionCharts("/site_medias/charts/ScrollLine2D.swf", "ChartId", "100%", "350", "0", "0");
   chart.setJSONData({{chart|safe}});		   
   chart.render("chartdiv");
</script>
{%endif%}
{%endifequal%}
{%ifequal action "checkRegisterKeep"%}
<form  action="" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr><td>
	开始日期&nbsp;<span><input class="date" format="yyyy-MM-dd" label="开始时间" id='start_date' name="start_date" value="{{get.start_date}}"/></span>
	结束日期&nbsp;<span><input class="date" format="yyyy-MM-dd" label="结束时间" id='end_date' name="end_date" value="{{get.end_date}}"/></span>
	<input type="submit" class="btn" value="查询">
</td></tr>
</table>
</form>
{%if data%}
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%" id="myTable">
	<thead>
	<tr>
		<th colspan="20" style="font-weight:bold">每天注册数据 / <span style="font-weight:normal">{{get.start_date}}~{{get.end_date}}</span></th>
	</tr>
	<tr>
		<th>日期</th><th>连接数</th><th>请求创建角色</th><th>创建角色流失率</th><th>新玩家(有操作)</th><th>玩家流失率</th>
	</tr>
	</thead>
	<tbody>
	{%for val in data%}
	<tr>
		<td>{{val.date}}</td><td>{{val.connect_num}}</td><td>{{val.R_num}}</td><td>{{val.role_lost_rate|floatformat:2}} %</td><td>{{val.player_num}}</td><td>{{val.player_lost_rate|floatformat:2}} %</td>
	</tr>
	{%endfor%}
	<tfoot>
	</tfoot>
	</tbody>
</table>

{%if data_day%}
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%">
	<thead>
	<tr>
		<th colspan="20" style="font-weight:bold">每小时详细注册数据 / {{get.start_date}}</th>
	</tr>
	<tr>
		<th>小时</th><th>连接数</th><th>请求创建角色</th><th>创建角色流失率</th><th>新玩家(有操作)</th><th>玩家流失率</th>
	</tr>
	</thead>
	<tbody>
	{%for val in data_day%}
	<tr>
		<td>{{val.date}}</td><td>{{val.connect_num}}</td><td>{{val.R_num}}</td><td>{{val.role_lost_rate|floatformat:2}} %</td><td>{{val.player_num}}</td><td>{{val.player_lost_rate|floatformat:2}} %</td>
	</tr>
	{%endfor%}
	<tfoot>
	</tfoot>
	</tbody>
</table>
{%endif%}

<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%">
	<thead>
	<tr>
		<th colspan="20" style="font-weight:bold">多天留存数据</th>
	</tr>
	<tr>
		<th>日期</th><th>角色数</th><th>1天留存率</th><th>2天留存率</th><th>3天留存率</th><th>4天留存率</th><th>5天留存率</th><th>6天留存率</th><th>7天留存率</th><th>14天留存率</th><th>30天留存率</th>
	</tr>
	</thead>
	<tbody>
	{%for val in keep%}
	<tr>
		<td>{{val.date}}</td><td>{{val.count}}</td><td>{{val.one_rate|floatformat:2}} %</td><td>{{val.two_rate|floatformat:2}} %</td><td>{{val.three_rate|floatformat:2}} %</td><td>{{val.four_rate|floatformat:2}} %</td><td>{{val.five_rate|floatformat:2}} %</td><td>{{val.six_rate|floatformat:2}} %</td><td>{{val.seven_rate|floatformat:2}} %</td><td>{{val.fourteen_rate|floatformat:2}} %</td><td>{{val.thirty_rate|floatformat:2}} %</td>
	</tr>
	{%endfor%}
	<tfoot>
	</tfoot>
	</tbody>
</table>
{%endif%}
{%endifequal%}

{%ifequal action "checkRoll"%}
<form  action="" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr><td>
	开始日期&nbsp;<span><input class="date" format="yyyy-MM-dd" label="开始时间" id='date_start' name="date_start" value="{{get.date_start}}"/></span>
	结束日期&nbsp;<span><input class="date" format="yyyy-MM-dd" label="结束时间" id='date_end' name="date_end" value="{{get.date_end}}"/></span>
	<input type="submit" class="btn" value="查询">
</td></tr>
</table>
</form>
{%if data%}
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%" id="myTable">
	<thead>
	<tr>
		<th>日期</th><th>滚服人数</th><th>当天付费人数</th><th>当天付费总额</th><th>累积付费人数</th><th>累积付费总额</th>
	</tr>
	</thead>
	<tbody>
	{%for date,val in data.items%}
	<tr>
		<td>{{date}}</td><td>{{val.num_roll}}</td><td>{{val.num_pay}}</td><td>{{val.sum_pay|floatformat:2}}</td><td>{{val.num_pay_after_roll}}</td><td>{{val.sum_pay_after_roll|floatformat:2}}</td>
	</tr>
	{%endfor%}
	<tfoot>
	</tfoot>
	</tbody>
</table>
{%endif%}
{%endifequal%}


{%ifequal action "list"%}
<table class="p_table_order p_table" style="text-align:center" cellspacing="1" cellpadding="3" border="0" width="100%">
	<thead>
	<tr>
		<th>序号</th><th>游戏服</th>
	</tr>
	</thead>
	<tbody>
	{%for key,val in data.items%}
	<tr>
		<td>{{key}}</td><td>{{val.name|safe}}</td>
	</tr>
	{%endfor%}
	</tbody>
</table>
{%endifequal%}

{%ifequal action "listNotice"%}
	<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="p_table_order">
	<thead>
	<tr>
		<th style="width:4%"><input class="checkAll" type="checkbox" forname="notice_id"/></th><th style="width:4%">索引</th><th style="width:10%">发送人</th><th style="width:10%">目标服进程</th><th style="width:36%">公告内容</th><th style="width:20%">循环发送时间范围</th><th style="width:10%">间隔时间</th><th>发送结果</th>
	</tr>
	</thead>
	<tbody>
	{%for v in notices%}
		<tr id="{{v.nid}}">
			<td><input type="checkbox" name="notice_id" value="{{v.nid}}"/></td><td>{{v.nid}}</td><td>{{v.sender}}</td><td>{{v.process}}</td><td>{{v.content}}</td><td>{{v.start_time}} ~ {{v.end_time}}</td><td id="interval_{{v.nid}}">{{v.interval_time}}</td><td>[<span style="color:blue;cursor:pointer;" onclick="alert(&quot;{{v.track}}&quot;)">查看</span>]</td>
		</tr>
	{%endfor%}
	</tbody>
	<tfoot>
		<tr bgcolor="#FFFFFF">
		<td colspan="8">{{range|safe}}</td>
		</tr>
	</tfoot>
	</table>
<div style="float:left"><input onclick="changeAllInterval()" type="button" value="更改间隔时长"/><input onclick="changeAllVisible()" type="button" value="删除选中"/></div>
<script>
function changeAllInterval(){
	var id=[];
	$("input[type=checkbox][name=notice_id]").each(function(){
		if($(this).attr("checked")){
			id.push($(this).attr('value'));
		}
	});
	id=id.join(',');
	changeInterval(id);
}
function changeAllVisible(){
	var id=[];
	$("input[type=checkbox][name=notice_id]").each(function(){
		if($(this).attr("checked")){
			id.push($(this).attr('value'));
		}
	});
	id=id.join(',');
	changeVisible(id);
}
function changeInterval(id){
	id=id.split(',');
    var interval=0;
	if(id.length==1){
		interval=Number($("#interval_"+id).html());
	}
    var new_interval=parseInt(prompt("请输入所选公告("+id+")新的间隔时间",interval));
	if(isNaN(new_interval)){return false;}
	var confirm_change=confirm("确认把所选公告("+id+")间隔时间修改为"+new_interval+"吗？");
	if(!confirm_change){return false;}
	$.each(id,function(k,v){
		$.post("/model/server/listNotice",{"step":"changeInterval","id":v,"render":"js","interval":new_interval},function(data){
			if(data.result=="true"){
				$("#interval_"+v).html(new_interval.toString());
				alert("公告("+v+")间隔时间修改成功！");
			}else if(data.error){
				alert(data.error);
			}else{
				alert("修改公告("+v+")间隔时间错误，请与管理员联系！");
			}
		},"json");
	});
}
function changeVisible(id){
	id=id.split(',');
	var confirm_change=confirm("确认把所选公告("+id+")彻底删除吗？");
	if(!confirm_change){return false;}
	$.each(id,function(k,v){
		$.post("/model/server/listNotice",{"step":"changeVisible","id":v,"render":"js"},function(data){
			if(data.result=="true"){
				$('tr[id='+v+']').remove();
			}else if(data.error){
				alert(data.error);
			}else{
				alert("删除公告("+v+")不成功，请与管理员联系！");
			}
		},"json");
	});
}
</script>
{%endifequal%}

{%ifequal action "sendNotice"%}
<form name="myform" method="Post">
<table class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
  <tr>
    <td class="title" style="width:150px;">目标服务器</td>
	<td colspan="2">
		<span style="display:block;float:left;marin-right:10px;"><input type="checkbox" class="checkAll" forname="process">&nbsp;全选&nbsp;&nbsp;</span>
		{%for key,val in processes.items%}
		<span style="display:block;float:left;margin-right:10px;"><input type="checkbox" name="process" value="{{key}}">&nbsp;{{val.name|safe}}&nbsp;&nbsp;</span>
		{%endfor%}
	</td>
  </tr>
  <tr><td class="title">定时发送</td><td colspan="2">开始时间&nbsp;<span><input class="date" label="开始时间" id='notice_start_time' name="start_time" value="{{get.start_time}}"/></span>结束时间&nbsp;<span><input label="结束时间" class="date" id='notice_end_time' name="end_time" value="{{get.end_time}}"/></span>&nbsp;&nbsp;间隔&nbsp;<span><input label="循环间隔" size="4" id='notice_interval' name="interval" value="0"/>&nbsp;秒循环发送</span>&nbsp;&nbsp;* 默认为0只在开始时间发送一次</td></tr>
  <tr><td class="title">公告内容</td><td colspan="2"><textarea style="width:100%;height:100%;margin-left:0!important" name="content" id="content" label="公告内容" check="required">{{get.content}}</textarea></td></tr>
  <tr><td></td><td colspan="2"><input type="submit" value="发送公告"/></td></tr>
</table>
</form>
{%endifequal%}
{%include "footer.htm"%}