{%include "header.htm"%}
{%ifequal action "login"%}
<form  action="{{path}}" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr><td colspan="2">※ {{dict.gm_tools_system_login}}</td></tr>
<tr><td>{{dict.user_name}}</td><td><input type="text" name="name" /></td></tr>
<tr><td>{{dict.password}}</td><td><input type="password" name="password" /></td></tr>
<tr>
	<td>
	LANGUAGE
	</td>
	<td>
		<select class="menu" id="lang" name="lang" val="{{S.lang}}">
			<option value="">Language</option>
			<option value="zh_cn">&nbsp;简体中文&nbsp;&nbsp;</option>
			<option value="en_us">&nbsp;English&nbsp;&nbsp;</option>
		</select>
		
	</td>
</tr>
<tr><td style="width:100px;">{{dict.ramdom_code}}</td><td><input class="text" name="code" style="float:left" size="6" maxlength="6"/><img src="/model/tool/drawCode?time=1" onclick="this.src+=&quot;1&quot;" style="position:relative;float:left;margin-left:4px;cursor:pointer;"/>
		<span style="margin-left:36px;color:gray">* {{dict.upper_only}}</span>
		</td></tr>
<tr><td></td><td><input type="submit" class="btn" value="{{dict.login}}"></td></tr>
</table>
</form>
{%endifequal%}
{%ifequal action "add"%}
<form  action="" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr><td style="width:100px;">用户名</td><td><input type="text" name="name" value="{{get.name}}"/> *</td></tr>
<tr><td style="width:100px;">真实姓名</td><td><input type="text" name="real_name" value="{{get.real_name}}"/> *</td></tr>
<tr><td>密码</td><td><input type="password" name="password" /> *</td></tr>
<tr><td>确认密码</td><td><input type="password" name="password_confirm" /> *</td></tr>
<tr><td>权限集</td><td>
	{%for k,v in groups.items%}
	<input type="checkbox" name="group" value="{{k}}" 
	{%if k in get.group%}
	checked
	{%endif%}
	/>&nbsp;{{v}}({{k}})&nbsp;
	{%endfor%}
</td></tr>
<tr><td>确认提交</td><td><input type="submit" class="btn" value="增加"></td></tr>
</table>
</form>
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
	<tr>
	<td style="width:100px;">* 权限组信息</td>
	<td>
	请分配权限组前<span style="color:red">务必确认</span>该用户可拥有此组全部权限：
	</td>
	</tr>
	{%for k,v in permissions.items%}
	<tr>
	<td style="width:100px;"><span style="color:green">{{v.name}}({{k}}):</span></td>
	<td>
	{%for vv in v.value%}
	{{vv}}<br>
	{%endfor%}
	</td>
	</tr>
	{%endfor%}
</table>
{%endifequal%}

{%ifequal action "editPassword"%}
<form  action="" method="post">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
<tr><td style="width:100px;">登录用户</td><td><input disabled value="{{name}}"/> * 修改用户名请联系超级管理员</td></tr>
<tr><td style="width:100px;">新密码</td><td><input type="hidden" name="name" value="{{name}}"/><input type="password" name="password" /></td></tr>
<tr><td>密码确认</td><td><input type="password" name="password_confirm" /></td></tr>
<tr><td>确认提交</td><td><input type="submit" class="btn" value="修改"></td></tr>
</table>
</form>
{%endifequal%}


{%ifequal action "log"%}
	<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="p_table_order">
	<thead>
	<tr class="title">
		<th style="width:120px">时间</th><th style="width:120px">用户/IP</th><th style="width:160px">GET</th><th style="width:160px">POST</th><th>RESPONSE</th>
	</tr>
	</thead>
	<tbody>
	{%for v in logs%}
		<tr>
			<td>{{v.time}}</td><td>{{v.user}}</td><td>{{v.get}}</td><td>{{v.post}}</td><td>{{v.response}}</td>
		</tr>
	{%endfor%}
	</tbody>
	<tfoot>
	<tr>
		<td colspan='20'>{{range|safe}}</td>
	</tr>
	</tfoot>
	</table>
{%endifequal%}
{%ifequal action "list"%}
	<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="p_table_order" id="myTable">
	<thead>
	<tr>
		<th style="width:120px">用户名</th><th style="width:120px">真实姓名</th><th style="width:120px">用户组</th><th>操作</th>
	</tr>
	</thead>
	<tbody>
	{%for v in users%}
		<tr>
			<td>{{v.name}}</td><td>{{v.real_name}}</td><td>{{v.ugroup}}</td><td><a href="/model/user/edit/?uid={{v.uid}}">编辑</td>
		</tr>
	{%endfor%}
	</tbody>
	<tfoot>
		<tr bgcolor="#FFFFFF">
		<td colspan="8">{{range|safe}}</td>
		</tr>
	</tfoot>
	</table>
{%endifequal%}
{%ifequal action "edit"%}
<form  name="common" method="Post" action="{{path}}">
<table style="line-height:1.5em;" class="p_table" cellspacing="1" cellpadding="3" border="0" width="100%">
	<tr><td>用户名</td><td><input type="hidden" name="uid" value="{{user.uid}}"/><input type="text" name="name" value="{{user.name}}" disabled/></td><td>* 不可更改</td></tr>
	<tr><td>更改密码</td><td><input type="password" name="password" /></td><td>* 若不需更改请留空</td></tr>
	<tr><td>确认密码</td><td><input type="password" name="password_confirm" /></td><td>* 请再次输入密码</td></tr>
	<tr><td>权限集</td><td>
	{%for k,v in groups.items%}
	<input type="checkbox" name="ugroup" value="{{k}}"
	{%if k in ugroup%}
	checked
	{%endif%}
	/>&nbsp;{{v}}({{k}})&nbsp;
	{%endfor%}
	</td><td>* 若不需更改请留空</td></tr>
	<tr><td></td><td>
	&nbsp;&nbsp;<input type="submit" value="确认更改"/>
	</td><td></td></tr>
</table>
</form>
{%endifequal%}
{%include "footer.htm"%}