<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dragon Rider Manage System</title>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<script src="/site_medias/js/jquery.js"></script>
<script src="/site_medias/js/UI.js"></script>
<script>
document.write('<link type="text/css" rel="stylesheet" href="/site_medias/css/day.css">');
</script>
<style>
body{background:none}
</style>
</head>
<body><br>
&nbsp;&nbsp;* 注意事项:
<ul>
<li>请不要在如网吧，沐足城，电脑城，小Q反斗城等公共场合使用此系统！</li>
<li>请注意保管你的帐号和密码，不要记录在除大脑外的地方！</li>
<li>请不要和别人共用你的帐号！</li>
<li>有任何疑问请联系系统管理员 QQ:770383088 TEL:15218802462 ！</li>
</ul>
<br />
<br />
&nbsp;&nbsp;* NOTICE:
<ul>
<li>Please do not use this system in public！</li>
<li>Keep your password carefully！</li>
<li>Don't share your account with others！</li>
<li>If any question please contact administrator！</li>
</ul>
<br />
<br />
&nbsp;&nbsp;&copy;&nbsp;2012-2013 teamtopgame.com
</body>
</html>