body{padding:0;margin:0;font-size:12px;line-height:1.5em;background:#fcfcfc;color:#333}
a,a:hover,a:visited{color:#333}
.left{float:left;height:100%;background:#f4f4f4;padding:5px;line-height:1.8em;border:none;border-radius:0 0 8px 0}
.left a{margin-left:8px;cursor:pointer;float:left;clear:both;text-decoration:none;}
.left .link{margin-left:8px;cursor:pointer;clear:none;}
 .left a:hover{text-decoration:underline}
 .left a:visited{color:#333}
 .left .title{height:24px;line-height:24px;background:#e7e7e7;color:#333;font-weight:bold;margin-bottom:10px;border-radius:4px;}
.tips{padding:5px;margin:5px 0 12px 0;background:#FFFFEC;border:1px solid #e7e7e7;border-radius:4px;}
.right{height:100%;float:left;margin-left:1%;}
 #right_content{height:100%;border:none}
 
table{font-size:12px}
table.list {border:1px solid #e7e7e7;}
table.list tr.even.title{font-weight:bold;background:#f0f0f0;text-align:center;line-height:2em;height:2em;}
table.list tr.even{background:#f8f8f8;}
input.btn{cursor:pointer;padding:3px 9px;border-radius:2px;color:white;display:inline-block;margin:2px;border:none;
		background:-moz-linear-gradient(top, #6699cc,#5287cf);
		background:-webkit-gradient(linear, 0 0, 0 100%, from(#6699cc), to(#5287cf));
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699cc', endColorstr='#5287cf'); /* IE6,IE7 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699cc', endColorstr='#5287cf')"; /* IE8 */}