@charset "utf-8";
/* CSS Document */
html{SCROLLBAR-FACE-COLOR: #C2E0FA; /*主色*/
SCROLLBAR-3DLIGHT-COLOR: #9DC5DE; /*左上*/
SCROLLBAR-HIGHLIGHT-COLOR:#FFFFFF; /*左上立体*/
SCROLLBAR-ARROW-COLOR: #9FC4DE;    /*箭头*/
SCROLLBAR-TRACK-COLOR: #DEEFFF; /*背景色*/
SCROLLBAR-SHADOW-COLOR:#A1C3DC;	/*右下*/
SCROLLBAR-DARKSHADOW-COLOR:#DEF0FE;  /*右下立体*/
padding:5px 10px 0 10px;
}
body{ width:100%; font-size:12px; text-align:left; font-family:Arial, Helvetica, sans-serif,"宋体"; height:100%; width:100%; background:#FFF;}


img { border:0px;}
form { border:none;}
ul,li{ padding:0px; list-style:none;}
*{margin:0;padding:0;} 
h1, h2, h3, h4, h5, h6 { font-size: 12px; font-weight:normal}
input { vertical-align:middle}
th { font-weight:normal;}

.cl { clear:both}
.left{ float:left}
.right{ float:right}
.Enter { text-overflow: ellipsis; -moz-text-overflow: ellipsis; overflow:hidden; white-space:nowrap}
.middle,input{ vertical-align:middle}
.center { text-align:center;}

.radio { margin:0 4px 2px 0;*margin:0 0 2px -1px;}

h1.h_title1 { }
h2.h_title1 {}

.cls {zoom:1;}
.cls:after {content:"";visibility:hidden;display:block;height:0;clear:both;}

.text1 { border:solid 1px #B6D2E8; color:#646464; background:#F1F6F9; height:17px; padding:1px 5px 0;}


.button1{border:none;cursor:pointer; color:#567496; width:85px; height:20px; *padding-top:8px; background:url(../../images/bjbtn.jpg) no-repeat left top; text-align:center;}


.mt8{ margin:8px auto 0px}

/*--后台样式--*/

#maintab { width:100%; height:100%; font-size:12px; background:#CCE3F8;}
#m_top { height:30px; vertical-align:top; border-bottom:solid 1px #0B5A92; background:url(../images/top_bg.gif) repeat-x left bottom; line-height:30px;}
#m_top_gamestate {background: repeat-x scroll left top transparent;border-bottom: 1px solid #0B5A92;height: 24px; vertical-align:top;}
	#governmentname {width:800px;padding-left: 25px;float:left}
	#selectgame {width:auto;float:left; padding:5px 20px;}
	#gamestate {width:500px;float:right;}
#m_middle {padding:11px 0 0 10px;}
#m_bottom { height:15px;}

#logo { float:left; text-indent:22px;}
#m_min-width {FLOAT: right; WIDTH: 1002px; height:0px; line-height:0px; }


#sidebar { background:#FFF; height:90% !important; height:100%; overflow:auto; WIDTH:167px!important;WIDTH: 169px; border:solid 1px #B3D2E7; margin-right:-3px; position:absolute; left:0;}

#sidebar_top { height:4px; line-height:1px; width:170px; background:url(../images/bg-Series7.gif) no-repeat -200px top;}
	
#content { height:100%; margin: 0 0 0 170px!important;margin: 0 0 0 167px;  position:relative; }
#content_title { position:absolute; width:100%; height:28px; overflow:hidden; top:0px; left:0px; border-bottom:solid 1px #B3D2E7; background:#CDE3F8;}
	#content_t_s,#content_t_s_l,#content_t_s_c,#content_t_s_r{ height:28px; float:left; background:url(../images/bg-Series1.gif);}
	#content_t_s { float:left; background-position: left -50px;}
		#content_t_s_l { width:30px; background-position:left-top}
		#content_t_s_c { background-position: left -50px; color:#6FA8C6; padding-top:7px;}
			#content_t_s_c span{ color:#2C759E;}
		#content_t_s_r { width:5px; background-position: -30px top; margin-left:15px;}	
	#content_t_o { float:right; padding:5px 10px 0 0;}

#if_content { width:99.9%; height:100%;border:solid 1px #B3D2E7; background:#fff; }

#A_head { height:31px; background:url(../images/m_top.gif) no-repeat center top}

#hostname { float:left; padding-left:25px; margin:1px 0 0 0; color:#C4E4FB; line-height:30px; width:800px;}
	#hostname img { float:left; margin: 0 15px 0 0;}
	#hostname h1 { font-weight:bold; font-size:14px; color:#FFF; margin-top:7px;}
	#hostname strong { display:inline-block; vertical-align:middle;#vertical-align:baseline;}


#mtright { padding: 5px 15px 0 0; text-align:right; color:#666; line-height:24px}	
	#mt_menu { color:#C1E4FA; text-align:right; }
	#mtr_time { color:#FFF;}
	#mtr_time img{ *margin:6px 0 ;}
	
#doc { margin:10px; border:solid 1px #FF6600;}

